.carrousel__titulo{
    color: $rojo;
    text-align: center;
    font-family: $fuente-principal;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

@media(min-width: 768px){
    .carrousel__titulo{
        font-size: 2.2rem;
    }
}

.mySwiper{
    width: 500px;
}

.swiper {
    width: 100%;
    height: 40vh;
    padding-top: 50px;
    padding-bottom: 70px;
}
  
@media(min-width: 768px){
    .swiper{
        height: 75vh;
    }
}
    
.swiper-slide {
    background-position: center;
    background-size: cover;
}
    
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    filter: contrast(1.3) brightness(1.1);
}

.swiper__titulo{
    text-align: center;
    margin-top: .3rem;
    font-size: .9rem;
    font-family: $fuente-secundaria;
}

@media(min-width: 768px){
    .swiper__titulo{
        font-size: 1.5rem;
    }
}