.video__titulo{
    text-align: center;
    margin-top: 2rem;
    position: relative;
    font-family: $fuente-secundaria;

    h2{
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }

    @media(min-width: 768px){
        h2{
            font-size: 2.7rem;
        }
    }

    button{
        margin-bottom: 2rem;
        width: 100%;
        padding: 10px 30px;
        background-color: transparent;
        border-style: none;
        border: 1px solid $rojo;
        color: $rojo;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: all .3s ease;
        font-family: $fuente-principal;

        &:hover{
            color: white;
            background-color: $rojo;
        }
    }

    @media(min-width: 768px){
        button{
            position: absolute;
            top: 0;
            left: 0;
            width: fit-content;
        }
    }
}

@media(min-width: 768px){
    .video__titulo{
        margin-bottom: 2rem;
    }
}

.video__contenedor{
    margin: 0 auto;
    height: 14.7rem;
    position: relative;
    
    iframe{
        width: 100%;
        height: 100%;
    }
}

@media(min-width: 768px){
    .video__contenedor{
        height: 27rem;
        width: 65%;
    }
}
